<widget id="com.example.familyBudget" version="0.0.1">
    <name>Семейный бюджет</name>
    <description>
        Simple budget app.
    </description>
    <author email="wenzelua@gmail.com" href="">
        wenzelUA
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <platform name="android">
        <preference name="Fullscreen" value="true" />
        <preference name="Orientation" value="portrait" />
        <icon src="assets/images/icon.png" width="180" height="180" />
    </platform>
    <plugin name="com.flyacts.crosswalk.engine" spec="1.3.1" source="pgb" />
    <icon src="assets/images/icon72.png" width="72" height="72" />
    <icon src="assets/images/icon48.png" width="48" height="48" />
    <icon src="assets/images/icon36.png" width="36" height="36" />
</widget>