<widget id="com.example.familyBudget" version="0.0.1">
    <name>Семейный бюджет</name>
    <description>
        Simple budget app.
    </description>
    <author email="wenzelua@gmail.com" href="">
        wenzelUA
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="Fullscreen" value="true"/>
    <preference name="Orientation" value="portrait"/>
</widget>