<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Бюджет</title>
    <link rel="stylesheet" href="./assets/styles/main.css"/>
    <script data-main="assets/js/app.js" src="assets/js/static/require.js"></script>
</head>
<body>

<script id="moving-template" type="text/template">
    <div class="dateColumn">
        <%= new Date(date).getDate() %>.<%= new Date(date).getMonth()+1 %>.<%= new Date(date).getFullYear() %>
    </div>
    <div class="typeColumn">
        <%= type === 'income' ? '+' : '-' %>
    </div>
    <div class="sumColumn">
        <%= sum %>
    </div>
    <div class="commentColumn">
        <%= comment %>
    </div>
    <div class="removeColumn">&#215;</div>
</script>
<script id="moving-edit-template" type="text/template">
    <input class="dateEdit" type="text"
           value="<%=new Date(date).getDate()%>.<%=new Date(date).getMonth()+1%>.<%= new Date(date).getFullYear()%>">
    <select class="typeEdit">
        <option value="expense"
        <% if (type==='expense') { %> selected <% } %>
        >Расход</option>
        <option value="income"
        <% if (type==='income') { %> selected <% } %>
        >Доход</option>
    </select>
    <input class="sumEdit" value="<%= sum %>">
    <textarea class="editMoveComment"><%= comment %></textarea>
    <div class="bottomButtonsWrapper">
        <div class="acceptMoveChanges bottomButtons">OK:)</div>
        <div class="rejectMoveChanges bottomButtons">Отмена</div>
    </div>
</script>
<script id="addNewMove" type="text/template">
    <input class="dateEdit" type="text" placeholder="Дата, дд.мм.гггг."
           value="<%=new Date().getDate()%>.<%=new Date().getMonth()+1%>.<%= new Date().getFullYear()%>">
    <select class="typeEdit">
        <option value="expense">Расход</option>
        <option value="income">Доход</option>
    </select>
    <input class="sumEdit" placeholder="Сумма движения">
    <textarea class="editMoveComment" placeholder="Комментарий"></textarea>
    <div class="bottomButtonsWrapper">
        <div class="acceptMoveChanges bottomButtons">Добавить</div>
        <div class="rejectMoveChanges bottomButtons">Закрыть</div>
    </div>
</script>

<div id="movesApp">
    <div id="movesWrapper">

        <div class="moveAddWrapper">
            <div class="moveAdd">Добавить запись</div>
        </div>

        <div class="movesHeader">
            <div class="dateColumn">
                Дата
            </div>
            <div class="typeColumn">
                +/-
            </div>
            <div class="sumColumn">
                Сумма
            </div>
            <div class="commentColumn">
                Коммент
            </div>
            <div class="removeColumn">
                &#215;
            </div>
        </div>
        <div class="movesViewport">
            <div class="moves"></div>
        </div>

        <div class="total">
            <div class="totalRow">
                <span class="totalColumnName">Итого(+):</span><span class="incomeSum">0</span> грн.
            </div>
            <div class="totalRow">
                <span class="totalColumnName">Итого(-):</span><span class="expenseSum">0</span> грн.
            </div>
            <div class="totalRow">
                <span class="totalColumnName">Итого:</span><span class="totalSum">0</span> грн.
            </div>
        </div>
    </div>
</div>

</body>
</html>