body {
    margin: 0;
}

div#movesApp {
    margin: 5px 3px 0;
}

#movesWrapper {
    width: 100%;
    min-width: 310px;
}

.moveRow {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    outline: 1px solid black;
    margin-bottom: 5px;
}

.moveRow > div {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    outline: 1px solid black;
    align-items: center;
}

.dateColumn {
    width: 23%;
    min-width: 75px;
}

.typeColumn {
    width: 7%;
    min-width: 22px;
}

.sumColumn {
    width: 15%;
    min-width: 48px;
}

.commentColumn {
    width: 23%;
    min-width: 103px;
    padding: 0 3px;
}

.removeColumn {
    width: 19%;
    min-width: 60px;
    font-size: 2em;
    font-weight: bold;
}

.moveRow.incomeRow {
    background: rgba(0, 128, 0, 0.1);
}

.moveRow.expenseRow {
    background: rgba(255, 0, 0, 0.1);
}

#movesHeaders .removeColumn, #movesHeaders .editColumn {
    font-weight: normal;
    font-size: 16px;
}

