html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    font-family: 'Times New Roman', times, serif;
}

body.overlay-enabled:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
    overflow: auto;
}

body.overlay-enabled {
    overflow: hidden;
}

/* main screen */

#movesApp {
    margin: 5px 3px 0;
}

.movesWrapper {
    width: 100%;
    min-width: 310px;
}

.movesHeader {
    display: table;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    font-weight: bold;
}

.moves {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.moveRow {
    display: table-row;
    overflow: hidden;
    margin-bottom: 5px;
}

.moveRow > div {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.moveRow > div:last-child {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.movesHeader > div {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.movesHeader > div:last-child {
    border: 1px solid black;
}

.moveRow > div, .movesHeader > div {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    text-align: center;
    word-wrap: break-word;
}

.dateColumn {
    width: 23%;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.typeColumn {
    width: 9%;
}

.sumColumn {
    width: 18%;
}

.commentColumn {
    width: 40%;
    padding-left: 5px;
}

.moveRow > div.commentColumn {
    text-align: left;
}

.removeColumn {
    width: 10%;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.moveRow.incomeRow {
    background: rgba(0, 128, 0, 0.5);
}

.moveRow.expenseRow {
    background: rgba(255, 0, 0, 0.5);
}

.movesHeaders .removeColumn, .movesHeaders .editColumn {
    font-weight: normal;
    font-size: 16px;
}

.moveAddWrapper {
    height: 50px;
    margin: 10px 0;
}

.moveAdd {
    height: 50px;
    width: 250px;
    margin: 0 auto;
    background: #008000;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
}

/*edit move*/

.editMoveView {
    position: fixed;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    z-index: 2;
    background: snow;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.editMoveView > * {
    width: 270px;
    display: block;
    margin: 10px auto 0;
    padding: 0;
    outline: 1px solid bisque;
    box-sizing: border-box;
    text-align: left;
    height: 35px;
    font-size: 20px;
}

.editMoveView .editMoveComment {
    height: 100px;
    overflow: auto;
}

.editMoveView .bottomButtonsWrapper {
    line-height: 35px;
    text-align: center;
    outline: 0;
}

.editMoveView .bottomButtons {
    display: inline-block;
    width: 45%;
    height: 100%;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.acceptMoveChanges.bottomButtons {
    background: green;
    float: left;
}

.rejectMoveChanges.bottomButtons {
    background: orangered;
    float: right;
}

/*end edit move*/

.total {
    height: 50px;
    margin: 10px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}