<input class="form-control dateEdit" type="text" placeholder="Дата, дд.мм.гггг."
       value="<%=new Date().getDate()%>.<%=new Date().getMonth()+1%>.<%= new Date().getFullYear()%>">

<select class="form-control typeEdit">
    <option value="expense">Расход</option>
    <option value="income">Доход</option>
</select>

<input class="form-control sumEdit" placeholder="Сумма движения">

<textarea class="form-control editMoveComment" placeholder="Комментарий"></textarea>

<div class="bottomButtonsWrapper">
    <div class="acceptChanges bottomButtons">Добавить</div>
    <div class="rejectChanges bottomButtons">Закрыть</div>
</div>