<div class="savingsWholeWrapper">
    <div class="routesWrapper">
        <a class="routeLink" href="#moves">
            Перейти к движению $
        </a>
    </div>
    <div class="addNewWrapper">
        <div class="addNew">Добавить запись</div>
    </div>

    <div class="savingsHeader">
        <div class="dateColumn">
            Дата
        </div>
        <div class="typeColumn">
            +/-
        </div>
        <div class="currencyColumn">
            Валюта
        </div>
        <div class="sumColumn">
            Сумма
        </div>
        <div class="commentColumn">
            Коммент
        </div>
        <div class="removeColumn">

        </div>
    </div>
    <div class="savingsWrapper">
        <div class="savings"></div>
    </div>
    <div class="savingsMonthTotal">
        <div class="totalInfo">
            <div class="totalRow">
                <span class="totalColumnName">Итого (UAH):</span><span class="totalUAH">0</span> грн.
            </div>
            <div class="totalRow">
                <span class="totalColumnName">Итого (USD):</span><span class="totalUSD">0</span> долл.
            </div>
            <div class="totalRow">
                <span class="totalColumnName">Итого (EUR):</span><span class="totalEUR">0</span> евро
            </div>
        </div>
        <div class="monthSavingsInfoWrapper">
            <a href="#monthSavingsInfo">В графике</a>
        </div>
    </div>
</div>