<div class="savingsChartWrapper">
    <div class="yearFilterWrapper">
        <div class="dateFilter">
            <label class="yearSelectLabel" for="yearFilter">Год</label>
            <div class="yearSelectWrapper">
                <select name="yearSelect" id="yearFilter">
                    <% for(var i = currentYear-10; i < currentYear+10; i++){%>
                    <%if (currentYear === i) {%>
                        <option selected value="<%= i %>"><%= i %></option>
                    <%}else{%>
                        <option value="<%= i %>"><%= i %></option>
                    <%}%>
                    <%}%>
                </select>
            </div>
            <label>
              За все года
              <input class="allYearsEnabled" type="checkbox">
            </label>
        </div>
    </div>
    <div id="savingsChart"></div>
</div>
