<div class="movesWholeWrapper">
    <div class="routesWrapper">
        <a class="routeLink" href="#savings">
            Сбережения
        </a>
    </div>
    <div class="addNewWrapper">
        <div class="addNew">Добавить запись</div>
    </div>
    <div class="dateFilterWrapper">
        <div class="dateFilter"></div>
    </div>
    <div class="movesHeader">
        <div class="dateColumn">
            Дата
        </div>
        <div class="typeColumn">
            +/-
        </div>
        <div class="sumColumn">
            Сумма
        </div>
        <div class="commentColumn">
            Коммент
        </div>
        <div class="removeColumn">
            &#215;
        </div>
    </div>
    <div class="movesWrapper">
        <div class="moves"></div>
    </div>
    <div class="movesMonthTotal">
        <div class="totalRow">
            <span class="totalColumnName">Итого(+):</span><span class="incomeSum">0</span> грн.
        </div>
        <div class="totalRow">
            <span class="totalColumnName">Итого(-):</span><span class="expenseSum">0</span> грн.
        </div>
        <div class="totalRow">
            <span class="totalColumnName">Итого:</span><span class="totalSum">0</span> грн.
        </div>
    </div>
</div>