<div class="dateColumn">
    <%= new Date(date).getDate() %>.<%= new Date(date).getMonth()+1 %>.<%= new Date(date).getFullYear() %>
</div>

<div class="typeColumn">
    <%= type === 'income' ? '+' : '-' %>
</div>

<div class="currencyColumn">
    <% if(currency === 'UAH') {%>
        &#8372;
    <%}%>
    <% if(currency === 'USD') { %>
        $
    <%}%>
    <% if(currency === 'EUR') {%>
        &#8364;
    <%}%>
</div>

<div class="sumColumn">
    <%= sum %>
</div>

<div class="commentColumn">
    <%= comment %>
</div>

<div class="removeColumn"></div>